@import "../../utils/variables";

.input-field-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 30px;

  > * {
    width: 100%;
  }

  input {
    border-radius: 5px;
    border: 2px black solid;
    padding: 10px;
    height: max-content;
  }
}
