.labeled-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-right: auto;

  input {
    border-radius: 5px;
    border: 1px rgba(black,0.4) solid;
    padding: 10px;
  }

  h4 {
    word-wrap: break-word;
  }

  &.price-input {
    position: relative;
    .input-container {
      &::after {
        content: '$';
        color: green;
        position: absolute;
        right: 0;
        font-size: 1.6em;
        margin-right: 35px;
      }
    }
  }
}

.input-container {
  display: flex;
  align-items: center;
  min-width: 150px;
  gap: 10px;
}
