.labeled-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;

  input {
    border-radius: 5px;
    border: 2px black solid;
    padding: 10px;
  }

  h4 {
    width: 100%;
    word-wrap: break-word;
  }

  &.price-input {
    .input-container {
      &::after {
        content: '$';
        font-size: 2em;
      }
    }
  }
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
