@import "../../utils/variables";

.product-creator-button {
  background-color: $primary-color;
  border-radius: 5px;
  border: 2px black solid;
  padding: 10px;
  margin: 2.5px 0;
  cursor: pointer;
}
