@import "../../utils/_variables.scss";

.product-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 1em;
  max-width: 300px;

  background-color: $secondary-color;
  border: 2px black solid;
  border-radius: 10px;
  &:hover {
    caret-color: $primary-color;
  }
  cursor: url("../../assets/images/edit-cursor.png"), alias;
}

.product-button {
  background-color: $primary-color;
  border-radius: 5px;
  border: 2px black solid;
  padding: 10px;
  cursor: pointer;

  margin: 2.5px 0;
}
