.product {
  flex: 1 1 auto;
  max-width: 230px;
  text-align: center;
  width: 230px;
  padding: 0.5em;
  opacity: 0.95;
  border-radius: 10px;
  border: 1px solid rgba(black, 0.2);
  cursor: pointer;
  transition: all 0.2s ease;
  gap: 10px;

  &:hover {
    box-shadow: 5px 5px 12px 2px rgba(black, 0.15);
    border: 1px solid rgba(black, 0.4);
    transform: translateY(-1px);
    opacity: 1;
  }

  @media (min-width: 1281px) and (max-width: 1628px) {
    max-width: 200px;
    width: 200px;
  }

  @media (min-width: 1025px) and (max-width: 1280px) {
    max-width: 180px;
    width: 180px;
    min-height: 200px;
    max-height: 200px;
    padding: 0.3em;

    section {
      margin: 5px 0;
      font-size: 0.9em;

      &:first-child {
        font-size: 1em;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    max-width: 130px;
    width: 130px;
    min-height: 150px;
    max-height: 150px;
    padding: 0.2em;

    section {
      margin: 3px 0;
      font-size: 0.7em !important;
    }
  }

  @media (min-width: 481px) and (max-width: 767px) {
    max-width: 115px;
    width: 115px;
    min-height: 120px;
    max-height: 120px;
    padding: 0.2em;

    section {
      margin: 3px 0;
      font-size: 0.6em !important;
    }
  }

  @media (max-width: 480px) {
    max-width: 90px;
    width: 90px;
    min-height: 100px;
    max-height: 100px;
    padding: 0.1em;

    section {
      margin: 3px 0;
      font-size: 0.55em !important;
    }
  }
}

.product-buttons-container {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;

  @media (min-width: 1025px) and (max-width: 1280px) {
    min-height: 50px;
    max-height: 85px;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    min-height: 50px;
    max-height: 50px;
    padding: 0;
  }

  @media (min-width: 481px) and (max-width: 767px) {
    min-height: 50px;
    max-height: 50px;
    padding: 0;
  }

  @media (max-width: 480px) {
    min-height: 40px;
    max-height: 40px;
    padding: 0;
  }
}

.product-name {
  padding: 0 10px;
  font-size: 1.1em;
  font-weight: bold;
  user-select: none;
  min-height: 42px;
}

.product-price {
  padding: 0 10px;
  font-size: 1.4em;
  font-weight: bold;
  user-select: none;
}
