.product {
  flex: 1 1 auto;
  text-align: center;
  width: 230px;
  opacity: 0.95;
  border-radius: 10px;
  border: 1px solid rgba(black, 0.2);
  cursor: pointer;
  transition: all 0.2s ease;
  gap: 10px;

  &:hover {
    box-shadow: 5px 5px 12px 2px rgba(black, 0.15);
    border: 1px solid rgba(black, 0.4);
    transform: translateY(-1px);
    opacity: 1;
  }
}

.product-buttons-container {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5em 0.5em 0.5em;
}

.product-name {
  height: 36px;
  font-size: 1em;
  user-select: none;
  text-align: center;
  margin-top: 3px;
}

.product-price {
  font-size: 1.4em;
  user-select: none;
}

.product-image {
  display: flex;
  width: 70%;
  justify-self: center;
  align-self: center;
}
