.product {
  max-width: 250px;
  min-height: 230px;
  max-height: 230px;
  opacity: 0.95;

  &:hover {
    box-shadow: 5px 5px 12px 2px rgba(black, 0.15);
    max-width: 250px;
    transform: scaleY(1.03);
    transform: scaleX(1.02);
    opacity: 1;
  }

  section {
    margin: 10px 0;
    font-size: 1em;
    font-weight: bolder;

    &:first-child {
      font-size: 1.1em;
    }
  }
}

.product-buttons-container {
  display: flex;
  flex-direction: column;
  min-height: 85px;
  height: 85px;
  padding: 10px 0;
}
