.product {
  flex: 1 1 auto;
  min-width: 200px;
  max-width: 250px;
  min-height: 230px;
  max-height: 230px;
  padding: 0.5em;
  opacity: 0.95;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    box-shadow: 5px 5px 12px 2px rgba(black, 0.15);
    transform: scaleY(1.02);
    transform: scaleX(1.01);
    opacity: 1;
  }

  section {
    margin: 10px 0;
    font-size: 1em;
    font-weight: bolder;
    user-select: none;

    &:first-child {
      font-size: 1.1em;
      padding: 0 5px;
    }
  }

  @media (min-width: 1025px) and (max-width: 1280px) {
    min-width: 150px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
    padding: 0.3em;

    section {
      margin: 5px 0;
      font-size: 0.9em;

      &:first-child {
        font-size: 1em;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    min-width: 120px;
    max-width: 150px;
    min-height: 150px;
    max-height: 150px;
    padding: 0.2em;

    section {
      margin: 3px 0;
      font-size: 0.7em !important;
    }
  }

  @media (min-width: 481px) and (max-width: 767px) {
    min-width: 90px;
    max-width: 120px;
    min-height: 120px;
    max-height: 120px;
    padding: 0.2em;

    section {
      margin: 3px 0;
      font-size: 0.6em !important;
    }
  }

  @media (max-width: 480px) {
    min-width: 70px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    padding: 0.1em;

    section {
      margin: 3px 0;
      font-size: 0.55em !important;
    }
  }
}

.product-buttons-container {
  display: flex;
  flex-direction: column;
  min-height: 85px;
  height: 85px;
  padding: 10px 0;

  @media (min-width: 1025px) and (max-width: 1280px) {
    min-height: 50px;
    max-height: 85px;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    min-height: 50px;
    max-height: 50px;
    padding: 0;
  }

  @media (min-width: 481px) and (max-width: 767px) {
    min-height: 50px;
    max-height: 50px;
    padding: 0;
  }

  @media (max-width: 480px) {
    min-height: 40px;
    max-height: 40px;
    padding: 0;
  }
}
