@import '@utils/variables';

.header-container {
  position: sticky;
  display: flex;
  align-items: center;
  top: 0;

  padding: 0 1em;
  margin-bottom: 10px;

  border: 2px black solid;
  border-radius: 0 0 10px 10px;
  background-color: $primary-color;

  .title {
    margin-right: auto;
  }
}

.header-children-container {
  display: flex;
  gap: 30px;
  margin-left: auto;
}
