.header-container {
  position: sticky;
  display: flex;
  align-items: center;
  top: 0;
  padding: 0 1em;
  margin-bottom: 10px;
  z-index: 1;

  box-shadow: 5px 5px 10px -1px rgba(black, 0.15);
  border-radius: 0 0 10px 10px;
  background-color: rgba(skyblue, 0.97);
  border: 1px solid rgba(0, 0, 0, 0.2);

  .title {
    margin-right: auto;
    user-select: none;
  }
}

.header-children-container {
  display: flex;
  margin-left: auto;
  gap: 30px;
}
