.action-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  max-height: 40px;
  min-width: 180px;
  padding: 10px;
  margin: 3px 0;

  border: 1px solid rgba(black, 0.3) !important;
  background-color: #8cff8c;
  font-size: 1.2em !important;
  border-radius: 5px !important;
  box-shadow: 5px 5px 10px 1px rgba(black, 0.15) !important;
  user-select: none;
  cursor: pointer;

  &.modifier {
    min-height: 55px;
    max-height: 55px;
    min-width: 230px;

    @media (min-width: 481px) and (max-width: 767px) {
      min-height: 45px;
      max-height: 45px;
      min-width: 200px;
    }

    @media (max-width: 480px) {
      min-height: 40px;
      max-height: 40px;
      min-width: 180px;
    }
  }

  &.product {
    min-height: 40px;
    max-height: 40px;
    min-width: 180px;

    @media (min-width: 1025px) and (max-width: 1280px) {
      min-height: 30px;
      max-height: 30px;
      min-width: 150px;
      font-size: 1em !important;
    }

    @media (min-width: 481px) and (max-width: 1024px) {
      min-height: 20px;
      max-height: 20px;
      min-width: 110px;
      margin: 2px 0;
      font-size: 0.7em !important;
    }

    @media (max-width: 480px) {
      min-height: 17px;
      max-height: 17px;
      min-width: 80px;
      margin: 1px 0;
      font-size: 0.5em !important;
      padding: 4px;
    }
  }

  &:hover {
    box-shadow: 5px 5px 10px 2px rgba(black, 0.3);
    opacity: 0.8;
    transform: scaleY(1.03);
    transform: scaleX(1.03);
  }

  &.warning {
    background-color: #fe5a3de3;
  }
}
