@import '@styles/variables.scss';

.action-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 3px 0;
  min-height: 40px;
  max-height: 40px;
  min-width: 180px;

  background-color: rgba($add-color, 0.5);
  font-size: 1.2em !important;
  border: unset !important;
  border-radius: 5px !important;
  box-shadow: 5px 5px 10px 1px rgba(black, 0.15) !important;
  cursor: pointer;

  &.modifier {
    min-height: 55px;
    max-height: 55px;
    min-width: 230px;
  }

  &:hover {
    box-shadow: 5px 5px 10px 2px rgba(black, 0.2);
    opacity: 0.8;
    transform: scaleY(1.03);
    transform: scaleX(1.03);
  }

  &.warning {
    background-color: $warning-color;
  }
}
