@import '../../utils/variables';

.action-button-container {
  background-color: $primary-color;
  border-radius: 5px;
  border: 2px black solid;
  padding: 10px;
  margin: 2.5px 0;
  min-height: 30px;
  min-width: 30px;

  cursor: pointer;
  &.delete-button {
    background-color: rgba(255, 0, 0, 0.658);
  }

  &.circular-button {
    border-radius: 50% !important;
    height: 90px;
    width: 90px;
  }
}
