@import '@styles/variables.scss';

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 0.5em;

  background-color: $secondary-color;
  border-radius: 10px;
  box-shadow: 5px 5px 10px -1px rgba(black, 0.15);
  cursor: url('../../assets/images/edit-cursor.png'), alias;
}
