@import '@styles/variables.scss';

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 1em;

  background-color: $secondary-color;
  border-radius: 10px;
  box-shadow: 5px 5px 10px -1px rgba(black, 0.15);
  &.product {
    max-width: 250px;
    max-height: 200px;
    height: 200px;

    &:hover {
      box-shadow: 5px 5px 12px 2px rgba(black, 0.15);
      max-width: 250px;
      transform: scaleY(1.01);
      transform: scaleX(1.01);
    }
  }

  &.custom-cursor-edit {
    cursor: url('../../assets/images/edit-cursor.png'), alias;
  }
}
