.content-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: start;
  box-shadow: 5px 5px 10px -1px rgba(black, 0.15);
  background-color: white;

  &:hover {
    .create-icon {
      transform: scaleY(1.02);
      transform: scaleX(1.01);
    }
  }
}
