@font-face {
  font-family: Ubuntu;
  src: url('./assets/fonts/Ubuntu.ttf');
}

body,
html,
#master,
#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

body {
  font-family: 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
