body,
html,
#master,
#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #d8d8d8;
}

@font-face {
  font-family: 'AmazonEmber';
  src: url(./assets/fonts/Amazon_Ember_V2.ttf);
}

body {
  font-family: 'AmazonEmber', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 5px;
  overflow-x: hidden;
}

body * {
  font-family: 'AmazonEmber', sans-serif;
}
